<div class="container-fluid">
	<div class="row">
        <div class="col-lg-4 about_pic_row">
          <img class="img-circle about_pic" src="/assets/me.jpg" alt="Generic placeholder image">
        </div>
        <div class="col-lg-8 about_me">
        	<h1> Hi, I'm Nikhil</h1>
        	<p>Mustache asymmetrical slow-carb, flexitarian raw denim McSweeney's actually chia Neutra disrupt messenger bag. Four loko Brooklyn direct trade leggings Shoreditch, flexitarian Tonx before they sold out Blue Bottle put a bird on it paleo. YOLO Bushwick pug, narwhal fixie butcher brunch vegan banh mi roof party ugh keffiyeh Blue Bottle. Hashtag banh mi slow-carb farm-to-table American Apparel Vice. Kogi keytar brunch forage, banh mi 8-bit gentrify Kickstarter Pinterest tote bag. Bushwick American Apparel selvage, mumblecore Truffaut literally Carles disrupt distillery polaroid. Synth Thundercats quinoa street art ugh.</p>
        </div>
	</div>



</div>