<!-- Main jumbotron for a primary marketing message or call to action -->



<div id="about">
	<%= render 'front_page/about' %>
</div>

<div id="projects">
	<%= render 'front_page/projects' %>
</div>

<div id="contact">
	<%= render 'front_page/contact' %>
</div>