/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body{
 	margin-top: 50px;
 }

.jumbotron {
	background-image:url(hero.jpg);
	background-repeat:no-repeat;
	background-size: 100%;
	background-position:left top;
	
}

.jumbotron h1{
	color: white !important; 
	text-align: right;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 4em;
	margin-top: 0px;
	margin-bottom: 70px;
}

.about_pic_row{
	text-align: center;
}

.about_pic{
	border:1px solid #656565;
    border-radius: 215px;
    -webkit-border-radius: 215px;
    -moz-border-radius: 215px;
    margin-right: 10px;
}

.about_me{
	padding-top: 30px;
}

.full_page {
	height: 100%;
}